/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

@font-face {
  font-family: "techno";
  src:url(../fonts/neuropolitical.otf) format('opentype');
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  .output {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #28a745;
  }

  h1 {
    color: rgb(97, 95, 255);
    font-size: 400%;
    font-family: "techno";
    }

  h2 {
      color: rgb(97, 95, 255);
      font-size: 200%;
      font-family: "techno";
      }